@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Roboto:wght@100;300;400&family=Ubuntu:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Roboto',sans-serif;
   text-decoration: none;
   outline: none;
   border: none;
   text-transform: capitalize;
   transition: all 0.3s linear;
}

:root{
    --color:rgb(177, 177, 34);
}

h1,h3{
    
    font-family: 'Oswald',sans-serif; 

}

*::selection{
    background: var(--color);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem ;
}

html::-webkit-scrollbar-track{
    background: #333;
}

html::-webkit-scrollbar-thumb{ 
    background: var(--color);
}

body{
    overflow-x: hidden;
    height: 200rem;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 10%;
    align-items: center;
    background: #ffff;
    box-shadow: 0 0.3rem 1rem #777;
}

header .logo img{
    height: 6rem;
    width: 7rem;  /* 5rem 4.5rem */
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li{
    margin-left: 3rem;
}

header .navbar ul li a{
    font-size: 1.7rem;
    color: #666;
}

header .navbar ul li a:hover,
header .navbar ul li a.active{
 color: var(--color);

}

header #menu-bars{
    color: #666;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

section{
    min-height: 100vh;
    padding: 1.5rem 10%;
    padding-top: 9rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    position:relative;
    z-index:0;
    overflow: hidden;
}
.home .content{
    width:75%;
}
.home .image img{
    width: 100%;
    /* margin-left:-20%; */
}

.home .content h3{
    color: #333;
    font-size: 5rem;
}

.home .content p{
    color: #666;
    font-size: 2rem;
    padding:1rem 0;
}

.btn{
    font-size: 1.8rem;
    padding:1.7rem 1.7rem;
    border-radius: 5rem;
    margin-top: 1rem;
    background:orange;
    font-weight: 700;
    cursor: pointer;
    border: 0.2rem solid crimson;
    transition: all 0.3s linear;
}

.home .content .btn a{
    font-family: 'ubuntu',sans-serif;
    color: #333;
}

.btn:hover{
    background: crimson;
}

.home .content .btn:hover a,
.about .content .btn:hover a,
.order .row .btn:hover{
    color: white;
}


.home::before,
.home::after{
  content: '';
  position: absolute;
  top: 5rem;
  right: -6rem;
  background: orange;
  border-radius: 3rem;
  transform: rotate(-45deg);
   height:40rem;
   width: 70rem;
   z-index: -2;
   animation: animate 1s linear 2;

}

@keyframes animate {
    0%{
        transform: rotate(45deg) translateY(-40rem);
    }
    
}
.home::before{
    top: -7rem;
    background: #fff;
    box-shadow: 0 1rem 4rem rgba(0,0,0,0.1);
    border-radius: 5rem;
    z-index: -1;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about .image{
    flex: 1 1 40rem;
    height: 50rem;
    background: url('about-frame-img.png'),url('about-img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
   background-blend-mode:screen;
}

.about .content{
    flex: 1 1 40rem;
    padding: 2rem;
}

.about .content h3{
    font-size: 4rem;
    color: #333;
}

.about .content p{
    font-size: 1.8rem;
    color: #666;
    padding: 1rem 0;
    text-align: justify;
}

/* menu section styling.. */

.heading{
    text-align: center;
    font-size:4rem;
    padding: 0.5rem;
    color: #333;
}

.heading span{
    color:rgb(167, 72, 91);
}

.menu .list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 1rem 0;
    margin: 2rem 0;
    border-top: 0.3rem dashed crimson ;
    border-bottom: 0.3rem dashed crimson;
}

.menu .list .btn{
    margin-left: 1rem;
    background:rgb(243, 208, 11);
}
.menu .list .btn:hover,.menu .list .active{
 color:white;
 background: crimson;
}

.menu .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.menu .row .image{
    margin: 2rem;
    padding: 2rem;
    flex: 1 1 40rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.menu .row .image img{
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.menu .row .content{
    flex: 1 1 40rem;
    margin-left: 2rem;
}
.menu .row .content .info{
    padding: 1rem 0;
}

.menu .row .content .info h3{
   display: flex;
   align-items: center;
   font-size: 2.4rem;
   color: #333;
}
.menu .row .content .info h3 span{
padding-right: 1rem;
color: darkred;
}
.menu .row .content .info p{
 padding-left: 4.5rem;
 padding:1rem 0;
 font-size: 1.5rem;
 color: #666;
 text-align: justify;
}

.popular{
    background:linear-gradient(red,yellow,green,crimson);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.popular .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.popular .box-container .box{
    background: #fff;
    width: 35rem;
    padding:2rem;
    margin: 2rem;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.5rem rgba(0, 0, 0,0.2);
    text-align: center;
    transition: all 1s ease;
}

.popular .box-container .box img{
    height: 20rem;
    width: 100%;
    object-fit: cover;
}

.popular .box-container .box h3{
    color:#333;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 2rem;
}

.popular .box-container .box .stars i{
    color: rgb(243, 180, 20);
    font-size: 2rem;
    padding:1rem 0.1rem;
}
.popular .box-container .box .price{
    color: #333;
    font-size: 2.5rem;
}

.popular .box-container .box:hover{
    transform: scaleY(1.05);
    background: black;
    box-shadow: 0 2rem 0.5rem rgba(0, 0, 0, 0.5);

}

.popular .box-container .box:hover h3,
.popular .box-container .box:hover .price{
    color: white;
}

.popular .box-container .box .btn:hover a{
    color: white;
}


.gallery .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .box-container .box{
    height: 40rem;
    width: 50rem;
    margin: 3rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.popular .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .box-container .box h3{
    position: absolute;
    top: 100%;
    left: 50%;
    font-size: 3rem;
    color: #fff;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
}

.gallery .box-container .box::before{
    content: '';
    position:absolute;
    top: -100%;
    left: 0;
    transition: all 0.3s linear;
    background: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
}

.gallery .box-container .box:hover::before{
    top: 0;
}

.gallery .box-container .box:hover h3{
    top: 50%;
    opacity: 1;
  transition-delay: 0.3s;
}

.order{
    background: url('form.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.order .row{
display: flex;
  background: #fff;
  margin: 2rem 0;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
  border-radius: 1rem;
}

.order .row .image{
 flex:1 1 40%;
 /* margin-left: 5rem;
 padding-left: 2rem;
 border-left: 2px dashed crimson; */
}

.order .row .image img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   }

.order .row form{
 flex: 1 1 60%;
 background: #fff;
 padding:2rem;
}

.order .row form .box{
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.5rem;
    color:#333;
    text-transform: none;
    background: #f0f0f0;
    width: 100%;
    border-radius: 2rem;
}

.order .row form .box::placeholder{
    text-transform: capitalize;
}

.order .row form .address{
    resize: none;
    height: 15rem;
}

.footer{
    background:#333;
    padding: 1rem 10%;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* .footer .box-container .box{
    flex:1 1 25rem;
    margin: 2rem;
} */

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: #fff;
    padding: 1rem 0;
}

.footer .box-container .box p{
    font-size: 1.7rem;
    color: #fff;
    padding: 1rem 0;
}

.footer .box-container .box p:nth-child(3){
    text-transform: none;
}

.footer .box-container .box a{
  font-size: 1.7rem;
  color: #fff;
  padding: 1rem 0;
  display: block;
  border-radius: 1rem;
}

.footer .box-container .box a:hover{
    color: rgb(221, 221, 66);
    text-decoration: underline;
}

.footer .box-container .box p i{
    padding-right: 0.5rem;
    color: crimson;
}

.footer .copyright{
    padding: 2rem;
    margin-top: 3rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    border-top: 0.2rem solid #fff;
    color: white;
    letter-spacing: 0.1rem;
}

.footer .copyright span{
    color: brown;
    font-weight: 700;
}
















/* media query starting.. */



@media (max-width:768px)
{

header #menu-bars{
    display: block;   
}

header .navbar{
    position: fixed;
    top: 8rem;
    left:0;
    width:100%;
    background:crimson;
    border-top: 0.2rem solid rgb(0,0,0,0.1) ;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
}

header .navbar ul{
    flex-direction: column;
    padding: 2rem;

}

header .navbar ul li{
    margin: 1.5rem;
   width: 100%;
}

header .navbar ul li a{
display: block;
color: #fff;
font-size: 2rem;
padding-left: 2rem;
border-left: 0.2rem solid #fff;

}

header .navbar ul li a:hover,
header .navbar ul li a.active{ 
color:#333;
border-color: #333;

}


.fa-times{
    transform: rotate(180deg);
}

header .navbar.nav-toggle{
    transform: scaleY(1);
    transform-origin: top;
    opacity: 1;
}

.home{
    flex-direction: column;
}
.home .content h3{
    font-size: 2.5rem;
    text-align:justify;
}

.home .content p{
    font-size: 1.5rem;
    text-align: justify;
}

.about .content h3{
    font-size: 2.5rem;
}

.about .content p{
    font-size: 1.5rem;
}

.order .row .image{
    display: none;
}

}






@media (max-width:991px)
{
html{
    font-size: 55%;

 }

 .home::before,.home::after{
     display: none;
 }

}


@media (max-width:355px){
    .menu .row .content .info h3{
      font-size: 1.9rem;
     }
}


@media (max-width:600px)
{

    .gallery .box-container .box{
        height: 30rem;
        width: 50rem;
        margin: 3rem;
        cursor: pointer;
        overflow: hidden;
        position: relative;
    }
    .popular .box-container .box img{
        height:50px;
        width:150px;
        /* object-fit: cover; */
    }
}